body{
    background-color:#E2fCEF;
}

h1{
    color: red;
}

p{
    color:black;
    text-align: left;
    font-family: cursive;
    font-size: 18px;
    line-height: normal;
    text-transform: lowercase;
}

button
{
    color:white;
    background-color: green;
}

/* This is using id*/
#box{
    color: black;
    background-color: rgb(194, 210, 101);
}

/* This is using class name*/
.heading{
    background-color: blue;
    color: white;
}